.six-cols {
	-moz-column-count: 6; /* Firefox */
	-webkit-column-count: 6; /* Safari and Chrome */
	column-count: 6;
}

footer {
	position: fixed;
	bottom: 0;
	
	width: 100%;
	
	background-color: #EEE;
	border-top: 1px solid #CCC;
}

.main-body {
	padding: 20px;
}