preference-flow svg {
	height: 400px;
}

preference-flow .candidate .label {
	fill: white;
}

preference-flow .flow {
	fill: none;
	opacity: 0.3;
}

preference-flow .flow.highlight {
	opacity: 0.8;
}

preference-flow .threshold {
	stroke: #222;
	opacity: 0.8;
}
