preference-flow svg {
	height: 400px;
}

preference-flow .flow {
	fill: none;
	stroke: #333;
	opacity: 0.3;
}

preference-flow .flow:hover {
	stroke: #C33;
	opacity: 0.6;
}

preference-flow .threshold {
	stroke: #222;
	opacity: 0.8;
}