preference-flow svg {
	height: 400px;
}

preference-flow .candidate .label {
	fill: white;
}

preference-flow .candidate.ALP rect { fill: #E95D4E; }
preference-flow .candidate.LP  rect { fill: #45A1DE; }
preference-flow .candidate.NP  rect { fill: #F4A425; }
preference-flow .candidate.GRN rect { fill: #59BC26; }

preference-flow .flow {
	fill: none;
	stroke: #333;
	opacity: 0.3;
}

preference-flow .flow:hover {
	stroke: #C33;
	opacity: 0.6;
}

preference-flow .threshold {
	stroke: #222;
	opacity: 0.8;
}
