<h1>Live Feed</h1>
<div class="well">
  <div class="progress progress-striped">
    <span class="progress-bar progress-bar-info" role="progressbar"
    aria-valuenow="{{ untilNextUpdate| percent:updatePeriod }}" aria-valuemin="0" aria-valuemax="100"
    style="width: {{ untilNextUpdate| percent:updatePeriod }}%"></span>
  </div>
  <div>{{ untilNextUpdate/1000 }} seconds until next update</div>
</div>

<ul>
  <li ng-repeat="electorate in electorates">
    <article>
      <h2>{{electorate.name}}</h2>

      <section>
        <h3>Two Candidate Preferred</h3>
          <div class="progress">
            <div ng-repeat="candidate in livedata.twocandidate[electorate.id].candidates"
              class="progress-bar"
              style="width: {{ candidate.votes | percent:livedata.firstpreferences[electorate.id].formal }}%;
              background-color: {{ livedata.parties[livedata.candidates[candidate.candidate_id].party_id].shortname | partyColor }}"></div>
          </div>
      </section>

      <section>
        <h3>First Preferences</h3>
          <div class="progress">
            <div ng-repeat="(candidate,votes) in livedata.firstpreferences[electorate.id].votes"
              class="progress-bar"
              style="width: {{ votes | percent:livedata.firstpreferences[electorate.id].formal }}%;
              background-color: {{ livedata.parties[livedata.candidates[candidate].party_id].shortname | partyColor }}"></div>
          </div>
      </section>
    </article>
  </li>
</ul>
