<h1>Live Feed</h1>
<div class="well">
  <div class="progress progress-striped">
    <span class="progress-bar progress-bar-info" role="progressbar"
    aria-valuenow="{{ untilNextUpdate| percent:updatePeriod }}" aria-valuemin="0" aria-valuemax="100"
    style="width: {{ untilNextUpdate| percent:updatePeriod }}%"></span>
  </div>
  <div>{{ untilNextUpdate/1000 | number:0 }} seconds until next update</div>
</div>

<ul>
  <li ng-repeat="electorate in electorates">
    <article>
      <h2>{{electorate.name}}</h2>

      <section>
        <h3>Two Candidate Preferred</h3>
          <div class="well">
            <div class="progress">
              <div ng-repeat="cand in livedata.twocandidate[electorate.id].candidates | orderBy:'votes':'reverse'"
                class="progress-bar" title="{{ livedata.parties[livedata.candidates[cand.candidate_id].party_id].shortname }} - {{ cand.votes | percent:livedata.firstpreferences[electorate.id].formal | number:1}}%"
                style="width: {{ cand.votes | percent:livedata.firstpreferences[electorate.id].formal }}%;
                background-color: {{ livedata.parties[livedata.candidates[cand.candidate_id].party_id].shortname | partyColor }}"></div>
            </div>
            <span ng-repeat="cand in livedata.twocandidate[electorate.id].candidates | orderBy:'votes':'reverse'"
              ng-class="{'pull-left': $index==0, 'pull-right': $index==1}">
              {{ livedata.parties[livedata.candidates[cand.candidate_id].party_id].shortname | default:"IND" }} -
              {{ livedata.candidates[cand.candidate_id].name }}
              {{ cand.votes | number }} votes
              {{ cand.votes | percent:livedata.firstpreferences[electorate.id].formal | number:1}}%
            </span>
          </div>
      </section>

      <section>
        <h3>First Preferences</h3>
          <div class="well">
            <div class="progress">
              <div ng-repeat="cand in livedata.firstpreferences[electorate.id].candidates | orderBy:'votes':'reverse'"
                class="progress-bar" title="{{ livedata.parties[livedata.candidates[cand.candidate_id].party_id].shortname }} - {{ cand.votes | percent:livedata.firstpreferences[electorate.id].formal | number:1}}%"
                style="width: {{ cand.votes | percent:livedata.firstpreferences[electorate.id].formal }}%;
                background-color: {{ livedata.parties[livedata.candidates[cand.candidate_id].party_id].shortname | partyColor }}"></div>
            </div>
            <table class="table">
              <thead>
                <tr>
                  <th>Party</th>
                  <th>Candidate</th>
                  <th>Votes</th>
                  <th>Votes %</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="cand in livedata.firstpreferences[electorate.id].candidates | orderBy:'votes':'reverse'">
                  <td><strong>{{ livedata.parties[livedata.candidates[cand.candidate_id].party_id].name | default:"Independent" }}</strong></td>
                  <td>{{ livedata.candidates[cand.candidate_id].name }}</td>
                  <td>{{ cand.votes | number }}</td>
                  <td>{{ cand.votes | percent:livedata.firstpreferences[electorate.id].formal | number:1 }}%</td>
                </tr>
              </tbody>
            </table>
          </div>
      </section>
    </article>
  </li>
</ul>
